* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 300ms ease-in-out;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(0, 255, 0, 0.1);
    width: 100%;
}

.navigation {
    padding-left: 3vw;
    padding-bottom: 1vh;
    width: 100%;
    height: fit-content;
    background-color: green;
    position: fixed;
    top: 0;
    z-index: 9999;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
}

.title {
    font-size: 8vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.2vw;
    color: white;
}

.subtitle {
    color: white;
    grid-column: 1/2;
}

.logo-grmaquinas {
    width: 100%;
    height: 100%;
    grid-row: 1/2;
    grid-column: 2/3;
    background-image: url(./img/logo-grmaquinas.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.main-div {
    width: 100%;
    height: fit-content;
}

.introduction {
    background-image: url(./img/frente-loja-1.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 15vh;
    height: fit-content;
    padding-top: 3vh;
}

.introduction-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    gap: 3vw;
}

.atendimento {
    background-color: green;
    width: 30vw;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 0 0 30px 0.1px rgba(0, 255, 0, 0.7);
    justify-self: left;
    margin-left: 3vw;
    margin-bottom: 15vh;
}

.atendimento:hover {
    transition: 250ms ease-in-out;
    box-shadow: 0 0 30px 1px rgba(0, 255, 0, 1);
}

.especificações {
    background-color: green;
    width: 30vw;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 0 0 30px 0.1px rgba(0, 255, 0, 0.7);
}

.especificações:hover {
    transform: translate(-0.7vw, 0);
    transition: 250ms ease-in-out;
    box-shadow: 0 0 30px 3px rgba(0, 255, 0, 1);
}

.p-specify-atendimento {
    color: white;
    /*-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;*/
    font-size: 2vw;
    /*font-family: Arial, Helvetica, sans-serif;*/
    padding: 2vw;
}

.p-specify {
    color: white;
    font-size: 2vw;
    padding: 2vw;
    text-decoration: none;
    display: block;
}

.iframe-container {
    grid-column: 2/3;
}

.iframe-grmaquinas {
    width: 35vw;
    height: 25vw;
    border-radius: 20px;
}

.iframe-grmaquinas:hover {
    transform: translate(-0.7vw, 0);
    box-shadow: 0 0 25px 0.05px white;
    transition: 250ms ease-in-out;
    z-index: 1;
}

.specify-1:hover {
    color: yellow;
    font-size: 2.05vw
}

.specify-2:hover {
    color: yellow;
    font-size: 2.05vw
}

.specify-3:hover {
    color: yellow;
    font-size: 2.04vw
}

.quem-somos {
    padding-top: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: rgb(230, 235, 230);
    font-family: Arial, Helvetica, sans-serifs;
}

.qs-h3-handle {
    width: fit-content;
    height: fit-content;
    background-color: rgb(4, 99, 7);
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 0 2vh 6px -0.01vw rgb(62, 39, 35);
}

.qs-h3 {
    font-size: 5vw;
    padding: 1vh 2vw 1vh 2vw;
    color: white
}

.quem-somos-grid {
    height: fit-content;
    width: 90vw;
    gap: 5vh;
    margin: 5vh auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.qs-grid-element {
    background-color: rgb(4, 99, 7);
    height: fit-content;
    width: fit-content;
    border-radius: 20px;
}

.qs-grid-element:hover {
    transform: translate(0, -1vh);
    box-shadow: 0 2vh 6px -0.01vw rgb(62, 39, 35);
}

.p-qs {
    color: white;
    padding: 5vh 4vw 5vh 4vw;
    font-size: 2vw;
    text-align: justify;
}

.nossos-serviços {
    width: 100%;
    height: fit-content;
    background-color: rgb(230, 235, 230);
    padding-top: 5vh;
}

.nossos-serviços-title-handle {
    width: fit-content;
    height: fit-content;
    background-color: green;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 0 2vh 6px -0.01vw rgb(62, 39, 35);
}

.nossos-serviços-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    padding: 1vh 2vw 1vh 2vw;
    color: white;
}

.serviços-grid {
    padding-top: 5vh;
    display: grid;
    height: fit-content;
    width: 100%;
    grid-template-columns: 1fr 0.25fr 0.25fr 0.25fr 0.25fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 4vh;
}

.sv-sec {
    background-color: green;
    border-radius: 20px;
    height: fit-content;
    display: grid;
    place-items: center;
}

.sv-sec:hover {
    box-shadow: 0 2vh 6px -0.01vw rgb(62, 39, 35);
    transform: translate(0, -1vh);
}

.serviços-geladeira {
    grid-column: 1/3;
    margin-left: 5vw;
}

.serviços-maquina {
    grid-column: 5/7;
    margin-right: 5vw;
}

.serviços-especiais {
    grid-column: 2/6;
}

.h4-subtitle {
    font-size: 3vw;
    color: white;
    padding-top: 1vw;
}

.sv-sec ul {
    color: white;
    font-size: 2vw;
    padding: 2vh 0 3vh 0;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    justify-self: left;
    margin-left: 1.5vw;
}

.sv-sec ul li {
    list-style-position: inside;
}

.sv-sec ul li:hover {
    scale: 1.05;
    text-shadow: 0 0 6px -0.01vw rgb(62, 39, 35);
    transition: 100ms ease-in-out;
}

.venda {
    background-color: rgb(230, 235, 230);
    color: white;
    padding-top: 4vh;
    display: grid;
    place-items: center;
    padding-bottom: 2vh;
}

.h4-venda-handle {
    background-color: rgb(16, 56, 20);
    border-radius: 20px;
    box-shadow: 0 3vh 10px -0.5vw green;
}

.h4-venda {
    font-size: 4.5vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1vh 2vw 1vh 2vw;
}

.detalhes-handle-venda {
    margin-top: 5vh;
    background-color: rgb(16, 56, 20);
    border-radius: 20px;
}

.detalhes-handle-venda:hover {
    box-shadow: 0 3vh 15px -0.5vw green;
    transform: translate(0,-1vh);
}

.h4-subtitle-venda {
    margin-top: 5vh;
    font-size: 2vw;
    margin-right: 20vw;
    text-shadow: 0 10px 7px rgb(16, 56, 20);
    padding-left: 2vw
}

.venda ul {
    padding-left: 3vw;
    padding-bottom: 3vh;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    row-gap: 1.3vh;
}

.venda ul li {
    font-size: 2vw;
    list-style-position: inside;
}

.venda ul li:hover {
    scale: 1.02;
    text-shadow: 0 5px 4px rgb(16, 56, 20);
    transition: 250ms ease-in-out;
}

.diferenciais {
    display: grid;
    place-items: center;
    padding-top: 5vh;
    background-color: rgb(230, 235, 230);
    color: white;
    padding-bottom: 2vh;
}

.h4-diferenciais-handle {
    background-color: rgb(0, 77, 38);
    border-radius: 20px;
    box-shadow: 0 3vh 10px -0.5vw green;
}

.ul-diferenciais-handle {
    width: fit-content;
    height: fit-content;
    background-color: rgb(0, 77, 38);
    margin-top: 5vh;
    border-radius: 20px;
}

.ul-diferenciais-handle:hover {
    box-shadow: 0 3vh 10px -0.5vw green;
    transform: translate(0, -1vh);
}

.ul-diferenciais-handle ul {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    margin-top: 2vh;
}

.h4-diferenciais {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vw;
    padding: 1vh 2vw 1vh 2vw;
}

.diferenciais ul li {
    list-style-type: "✔";
    color: white;
    list-style-position: inside;
    padding: 1vh 2vw 1vh 2vw;
    font-size: 1.5vw;
}

.diferenciais ul li:hover {
    transition: 100ms ease-in-out;
    transform: scale(1.02);
    padding-left: 1.8vw;
}

.galeria {
    background-color: rgb(230, 235, 230);
    padding-top: 2vh;
}

.galeria-h4-handle {
    width: fit-content;
    height: fit-content;
    background-color: rgb(16, 56, 20);
    margin: 0 auto;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.galeria-h4 {
    color: white;
    font-size: 4.5vw;
    padding: 1vh 2vw 1vh 2vw;
}

.galeria-compressor-grid {
    display: grid;
}

.galeria-compressor-grid h5 {
    font-size: 2vw;
    color: green;
    text-shadow: 0 0px 4px white;
    padding: 0.5vh 1vw 0.5vh 1vw;
}

.h5-galeria-handle {
    width: fit-content;
    height: fit-content;
    background-color: white;
    box-shadow: 0 0 10px -2px black;
    border-radius: 10px;
    margin-left: 2vw;
}

.image-galeria-compressor-handle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.2fr 1fr 0.2fr;
    margin: 0 auto;
    column-gap: 3vw;
    margin-top: 4vh;
}

.image-galeria-compressor-handle img {
    width: 22vw;
    border-radius: 20px;
    border-width: 0.1vw;
    border-color: rgb(219, 237, 253);
    border-style: solid;
}

.image-galeria-compressor-handle p {
    color: rgb(70, 70, 70);
    margin-left: 10px
}

.img2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.img3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.gal-p1 {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-bottom: 2vh;
}

.gal-p2 {
    grid-column: 2/3;
    grid-row: 2/3
}

.gal-p3 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.img4 {
    grid-column: 1/2;
    grid-row: 3/4
}

.img5 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.img6 {
    grid-column: 3/4;
    grid-row: 3/4
}
